<h3 class="modal-title"> Studies List </h3>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 study-table">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? toggleValue(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="patientID">
        <th mat-header-cell *matHeaderCellDef><div class="headers"> Patient ID 
           <!--  <div class="filter-icon-btn" (click)="onTextFilter($event, 1)">
                <span class="material-icons filter-icon" [ngStyle]="{color: coloringFilterSymbol('patient_id') ? '#0288D1': 'grey'}" id="patientID">
                filter_alt</span>
            </div> -->
            </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.patientID}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="patientName">
        <th mat-header-cell *matHeaderCellDef><div class="headers"> Patient Name 
                <!-- <div class="filter-icon-btn" (click)="onTextFilter($event, 2)"><span class="material-icons filter-icon"
                    [ngStyle]="{color: coloringFilterSymbol('patient_id') ? '#0288D1': 'grey'}" id="patientName">
                    filter_alt</span>
                </div> -->
            </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.patientName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="studyInstanceUID">
        <th mat-header-cell *matHeaderCellDef><div class="headers"> Study Instance UID 
               <!--  <div class="filter-icon-btn" (click)="onTextFilter($event, 3)"><span class="material-icons filter-icon"
                    [ngStyle]="{color: coloringFilterSymbol('patient_id') ? '#0288D1': 'grey'}" id="studyInstanceUID">
                    filter_alt</span>
                </div> -->
            </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.studyInstanceUID}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef><div class="headers"> Study Date 
                <!-- <div class="filter-icon-btn" (click)="onTextFilter($event, 4)"><span class="material-icons filter-icon"
                    [ngStyle]="{color: coloringFilterSymbol('patient_id') ? '#0288D1': 'grey'}" id="creationDate">
                    filter_alt</span>
                </div> -->
            </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="creationTime">
        <th mat-header-cell *matHeaderCellDef><div class="headers"> Study Time 
                <!-- <div class="filter-icon-btn" (click)="onTextFilter($event, 5)"><span class="material-icons filter-icon"
                    [ngStyle]="{color: coloringFilterSymbol('patient_id') ? '#0288D1': 'grey'}" id="creationTime">
                    filter_alt</span>
                </div> -->
            </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.creationTime}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)" class="hospital-pacs-row">
    </tr>

</table>
<mat-paginator [pageSize]="15" [hidePageSize]="true"></mat-paginator>

<h3><button type="button" (click)="exportExcelFile()">export</button></h3>
